Flask
Flask-SQLAlchemy
Flask-Migrate
python-telegram-bot
requests
apscheduler
pytz
Pillow
numpy==1.24.3
matplotlib
opencv-python-headless
tensorflow-cpu==2.11.1
gunicorn
alembic
SQLAlchemy
Flask-Login
Flask-Bcrypt
Flask-Mail
itsdangerous
fpdf
gdown
