Flask
Flask-SQLAlchemy
Flask-Migrate
python-telegram-bot
requests
apscheduler
pytz
Pillow
numpy
matplotlib
opencv-python-headless
tensorflow-cpu
gunicorn
alembic
SQLAlchemy
Flask-Login
Flask-Bcrypt
Flask-Mail
itsdangerous
fpdf
